{erl_opts, [debug_info]}.
{deps, [
        {brod, "3.8.1"}, % package
        {brod, {git, "git://github.com/klarna/brod.git", {tag, "3.8.1"}}} % alternatively, source
        ]
}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [kafka_messenger]}
]}.

{relx, [{release, {kafka_messenger, "0.0.1"},
         [kafka_messenger]},
        {release, {kafka_messenger, "0.1.0"},
         [kafka_messenger]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.